.DashboardMainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right , #ceeffc , #7fcde0);
    overflow: hidden;
    align-items: end;
    justify-content: flex-end;
}

.SidebarLogo
{
    aspect-ratio: 1;
    width: 90%;
    background-image: url("./images/SidebarLogo.jpg");
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.UserGreet{
    color: black;
    font-size: 2.2vh;
    margin-left: 1.5vw;
}

.DashboardWindow
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    box-sizing: border-box;
    padding-top: 10vh;
}

.DashboardHeading {
    color: black;
    margin: 0;
    font-size: 3.9vh;
    font-weight: normal;
    margin-left: 3vw;
}

.DashboardSubHeading {
    color: #393939;
    margin: 0;
    font-size: 3vh;
    font-weight: normal;
    margin-left: 3vw;
    margin-top: 1.5vh;
}

.DashboardImageContainer {
    display: flex;
    flex-direction: row;
    height: 33vh;
    width: 90%;
    margin: 1vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 0.5cm;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.MarketImageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 95%;
    margin: 1vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 0.5cm;
    align-items: center;
    justify-content: start;
    background-color: white;
    overflow: scroll;
}

.DashboardImage {
    display: flex;
    aspect-ratio: 1;
    width: 23%;
    background-color: silver;
    border-radius: 0.15cm;
    border: 1px solid gray;
    box-shadow: 0px 0px 5px 0px gray;
    margin: 1%;
    transition-duration: 0.25s;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation-name: revealImage;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-iteration-count: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes revealImage {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.DashboardImage > h5:hover{
    backdrop-filter: blur(5px) brightness(0.5);
}

.DashboardImage > h5 {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 139%;
    filter: unset !important;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition-duration: 0.25s;
    user-select: none;
}